*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main{
    position:absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(126, 192, 230);
    height: 380px;
    width: 300px;
    padding: 30px;
    box-sizing: border-box;
    border: 2px solid black;
}
.main form{
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    font-variant: small-caps;
}
.feild input{
    border: none;
    outline: none;
    background: none;
    margin: 0px 0px 0px 0px;
    width: 200px;
    border-bottom:1px solid black ;
}
/* .feild label:focus{
    transform: translateY(0px);
} */
.feild input:focus + .feild label{
    background-color: black;
}
.feild label{
    font-size: small;
    opacity: 50%;
    padding: 4px 0px 0px 3px;
    color: rgb(0, 0, 0);
    transform: translateY(-20px);
    pointer-events: none;
}
.feild div{
    display: flex;
    flex-flow:column-reverse;
    justify-content: center;
    padding: 0px 0px 15px 0px;
}
.button{
    margin: 10px 0px 0px 0px ;
    padding: 5px 20px 5px 20px;
    background-color: rgb(11, 124, 189);
    color: white; border: 1px solid black;
}
span a{
    text-decoration: none;
    color: white;
    font-size: smaller;
}
